version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    ports:
      - "8751:8751"

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "3009:3009"
    environment:
      - REACT_APP_API_BASE_URL=http://57.128.75.61/:8000
    depends_on:
      - backend
